{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col-xl-8 py-5 px-md-5">
  {% include 'includes/form-select.html' %}
  <div class="row pt-md-4">
    <div class="col-md-12">
      <div class="blog-entry ftco-animate d-md-flex">
        <a
          href="single.html"
          class="img img-2"
          style="background-image: url({% static 'images/image_1.jpg' %})"
        ></a>
        <div class="text text-2 pl-md-4">
          <h3 class="mb-2">
            <a href="single.html">{% trans "Ishonish bu qalb bilan sevishdir" %}</a>
          </h3>
          <div class="meta-wrap">
            <p class="meta">
              <span><i class="icon-calendar mr-2"></i>June 28, 2019</span>
              <span
                ><a href="single.html"
                  ><i class="icon-folder-o mr-2"></i>Travel</a
                ></span
              >
              <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
            </p>
          </div>
          <p class="mb-4">
            {% trans "Ularning joyidan Duden nomli kichik daryo oqib o'tadi va uni zarur regelialiya bilan ta'minlaydi." %}
          </p>
          <p>
            <a href="#" class="btn-custom"
              >Read More <span class="ion-ios-arrow-forward"></span
            ></a>
          </p>
        </div>
      </div>
    </div>
    </div>
</div>
  <!-- END-->
  <div class="row">
    <div class="col">
      <div class="block-27">
        <ul>
          <li><a href="#">&lt;</a></li>
          <li class="active"><span>1</span></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&gt;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
